//colors
$black: black;
$color_nobel_approx: #b2b2b2;
$color_cape_cod_approx: #424242;

.menu {
  position: fixed;
  background-color: $black;
  width: 100%;
  height: 72px;
  bottom: 0;
}
.btn-group {
  height: 100%;
  button {
    background-color: $black;
    border: 1px $black;
    color: $color_nobel_approx;
    cursor: pointer;
    float: left;
    height: 100%;
    font-size: 11px;
    &:hover {
      background-color: $color_cape_cod_approx;
    }
    &:active {
      background-color: $color_cape_cod_approx;
    }
    &:not(:last-child) {
      border-right: none;
    }
  }
}
.menu-label {
  display: block;
}
.menu-icon {
  margin-top: -10px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
}