.profilePic-large {
	border-radius: 50%;
	border: 3px solid #1a8375;
	width: 28%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	display: block;
	position: relative;
}

.grad {
	position: absolute;
	background: linear-gradient(to bottom right, #1f4c69, #9bb285);
	width: 100%;
	height: 100px;
	display: block;
	top: 63px;
}

.updatePic {
	position: absolute;
	margin-top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	text-decoration: none;
	color: #1a8375;
	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
}

.updatePic:hover {
	text-decoration: underline;
}

.message {
	position: absolute;
	margin-top: 15px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	text-decoration: none;
	color: #1a8375;
	background: none !important;
	border: none;
	padding: 0 !important;
}

.signupForm {
	background-color: transparent;
	position: relative;
	width: 100%;
	margin-top: 15%;
}

.signup-submitBtn {
	margin: 20% auto 40% auto;
	width: 133px;
	height: 40px;
	display: block;
	font-size: 16px;
	position: relative;
	background-color: #1a8375;
	border-style: none;
	color: #bebebe;
}

.signup-form-input {
	font-size: 12px;
	padding: 37px 1px 5px;
	display: block;
	border: none;
	border-bottom: 1px solid #5e5e5e;
	text-align: right;
	color: #1a8375;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: transparent;
}

.file-form {
	margin-top: 15%;
}

.file-submitBtn {
	margin: 10% auto 10% auto;
	width: 133px;
	height: 40px;
	display: block;
	font-size: 16px;
	position: relative;
	background-color: #1a8375;
	border-style: none;
	color: #bebebe;
}

.file-input {
	font-size: 12px;
	text-align: right;
	color: #1a8375;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	display: block;
	padding: 5px 1px 1px 90px;
}

::placeholder {
	color: #1a8375;
	opacity: 1;
}
